.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(#1f1f1f, 0.9);
  z-index: 10;
  align-items: center;
  justify-content: center;
  display: none;
  &.active {
    display: flex;
  }
}